<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>{% block title %}Exoplanet Habitability Project{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
  <nav class="navbar">
    <div class="left">
      <a href="{% url 'exoplanet:index' %}" class="app-name">Exoplanet Habitability Project</a>
      <button id="browse-btn">Browse</button>
      <button id="add-btn">Add</button>
    </div>
    {% if not user.is_authenticated %}
      <div class="right logged-out">
        <a href="{% url 'exoplanet:register' %}">Register</a>
        <a href="{% url 'exoplanet:login' %}">Log in</a>
      </div>
    {% else %}
      <div class="right logged-in">
        <a href="{% url 'exoplanet:logout' %}">Log out ({{ user.username }})</a>
      </div>
    {% endif %}
  </nav>
  <div class="content">
    {% csrf_token %}
    <script>
      var csrftoken = '{{ csrf_token }}';
    </script>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
