{% extends 'exoplanet/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Welcome to the Exoplanet Habitability Project!</h1>
  <p>
    This app allows you to browse and contribute to the growing field of astrobiology by exploring the properties and potential habitability of exoplanets.
  </p>
  <p>
    Exoplanets are planets that orbit stars outside our solar system, and studying them can help us understand the diversity of planets and the conditions required for life to exist.
  </p>
  <p>
    Use the links in the navigation bar to browse existing exoplanets, add new exoplanets to the catalog, or edit the properties of existing exoplanets. Happy exploring!
  </p>
{% endblock %}
